/*---RESET---*/
*{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}


/*---FONTS---*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito&display=swap');




/*---CLASES---/
/*---(common):Banner---*/
.banner {
    width: auto;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-origin: border-box;
    position: relative;
    background-color: coral;
}
.banner h2{
    position: absolute;
    bottom: 32px;
    right: 32px;
    color: white;
    text-align: right;
    font-weight: lighter;
    font-size: 32px;
}
/*---(common):Intro Text---*/
.introductory_text{
    margin-top: 40px;
    margin-bottom: 40px;
    width: auto;
    text-align: center;
}
/*---(common): Header---*/
header {
    background-color: black;
    display: flex;
}
header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
}
header div h1{
    color: white;
    text-align: left;
    font-weight: 300;
    font-size: 60px;
}
header div p{
    color: white;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
}
/*---MAIN---*/
h2 {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/*---(common):Images---*/

/*---(common):carpage---*/
.carpage{
    padding-top: 80px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 900px 100px auto;
    gap: 40px;
    height: 500px;
}

.maincarimg{
    position: relative;
    overflow: hidden;
}
.maincarimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carimg{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 40px;
}

.carimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carimg1{
    position: relative;
    overflow: hidden;
}    
.carimg2{
    position: relative;
    overflow: hidden;
}
.carimg3{
    position: relative;
    overflow: hidden;
}
.carimg4{
    position: relative;
    overflow: hidden;
}

.cardescription{
    padding-left: 40px;
}
.cardescription h2{
    text-align: left;
}
.cardescription p{
    margin-top: 10px;
}

/*---^Index^---*/

/*---(index): HEADER---*/
.index_header{
    background-image: url(../images/akiralookingatcar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-origin: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.index_header_container{
    display: flex;
    flex-direction: row;
    align-items: top;
}


header nav {
    padding-top: 1fr;
    padding-bottom: 1fr;
    padding-right: 32px;
    margin-left: auto;
}
header ul{
    list-style: none;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 100%;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li{
    padding: 0px 8px;
}

.headliner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}
.headliner h1{
    color: white;
    text-align: left;
    font-weight: 300;
    font-size: 48px;
}
.headliner p{
    color: white;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
}

/*---(Index): Lastest Creations---*/
.lastest_creations_h2{
    text-align: center;
    margin: 60px auto 40px auto;
}

.lastest_creations{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagecontainer{
    position: relative;
    overflow: hidden;
    width: 32%;
    height: 400px;
}

.imagecontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
    opacity: 0;
}

.overlay h3{
    color: white;
    right: 8px;
    bottom: 8px;
    position: absolute;
}

.imagecontainer:hover .imagecontainer img{
    transform: scale(1.5);
}

.imagecontainer:hover .overlay{
    opacity: 1;
}


/*---(Index )Check on Minato Build---*/
.check_on_minato_build {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-rows: max-content 400px;
}

.video_container {
    padding: 30px 30%;
    overflow: hidden;
    text-align: center;
}


/*---^Cars^---*/
.banner.cars{
    background-image: url(../images/manycars.jpg);
    background-position: 50% 75%;
}

.paragraph.cars{
    margin: 40px 33%;
    text-align:center ;
}
/*---(Cars): Gallery---*/

.cars_gallery {
    padding-left: 160px;
    padding-right: 160px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 400px;
    gap: 40px;
}

.gallery_item{
    position: relative;
    overflow: hidden;
}

.gallery_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.gallery_item:hover .overlay{
    opacity: 1;
}


/*---^About^---*/
.banner.about{
    background-image: url(../images/akirasmoking.png);
}

/*---(About) About Akira---*/
.aboutflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph {
    line-height: 1.5;
    margin-bottom: 8px;
}

.about_akira {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 40px;
    min-height: 500px;
    gap: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.about_akira_img {
    background-image: url(../images/akirasmokingdown.png);
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
}
/*---(About) Phrase---*/
.phrase {
    margin: 40px 33%;
    overflow: hidden;
}
.phrase p {
    font-style: italic;
}
.comillas {
    background-image: url(../images/comillas2.png);
    background-size: cover;
    height: 48px;
    width: 48px;
}
/*---(About) Tunning Concept---*/
.tunning_concept {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 40px;
    min-height: 500px;
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}
.tunning_concept_img{
    background-image: url(../images/akirawhitespoiler.webp);
    background-position: 50% 15%;
    background-size: cover;
}

.tunning_concept h2 {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
}

/*---^Engines^---*/

.engine_tunning_options h2{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.engine_tunning_options p{
    text-align: center;
    width: 85%;
    margin: 0 auto
}

.engines{
    padding-top: 40px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.engine {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}
.engine img{
    object-fit: cover;
    width: 100%;
    height: 180px;
}
.engine h3{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.engine p{
    text-align: center;
}

/*---^contact^---*/
.banner.contact{
    background-image: url(../images/akiramesuring.webp);
    background-position: 50% 60%;
}

.formsection{
    display: flex;
}

.form h2{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    text-align: center;   
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 30px;   
}

.form_group{
    position: relative;
    color: #5757577e
}

.form_input{
    width: 100%;
    color: #706c6c;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
}

.form_input:not(:placeholder-shown){
    color: #4d4646;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(27, 27, 27);
}

.form_label{
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #5757577e;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

.form_submit {
    background-color: #5757577e;
    font-weight:bold;
    font-size: larger;
    border: none;
    cursor: pointer;
    padding: 10px 0px;
}

@media (max-width: 425px) {

    .form_title{
        font-size: 1.8rem;
    }
}
/*---FOOTER---*/
footer {
    background-color: black;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    bottom: 0px;
    margin-top: 60px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul {
    padding-left: 40px;
}

footer ul li {
    padding: 8px
}

footer p {
    color: white;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 3;
}


/**MEDIA QUERIES GENERAL*/

@media screen and (max-width:880px){
    .index_header_container{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        flex-direction: column;
        align-items: center;      
    }
    .headliner{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
    .headliner p{
        text-align: center;
    }
    header nav{
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: 0px;
        margin-bottom: 16px;
    }

    .banner{
        display: flex;
        align-items: center;
    }
    .banner h2 {
        position: static;
        text-align: center;
        margin: auto auto 32px auto;
    }

}
@media screen and (max-width:500px){
    .headliner h1{
        text-align: center;
        font-size: 24px;
    }
    .headliner p{
        text-align: center;
        font-size: 8px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
        bottom: 0px;
        margin-top: 60px;
    }
    footer ul li a {
        text-decoration: none;
        color: white;
    }
    footer ul {
        margin-bottom: 90px;
    }
    footer p {
        position: absolute;
        right: 40px;
        bottom: 40px;
        left: 33%;
        display: inline-block;
        text-align: right;
    }
}


/**MEDIA QUERIES index*/

@media screen and (max-width:1180px) {
    .lastest_creations{
        width: 65%;
        flex-direction: column;
    }
    .imagecontainer{
        width: 100%;
        height: 300px;
        margin-bottom: 16px;
    }
    .video_container {
        margin-left: auto;
        margin-right: auto;
        padding: 40px 0 0 0;
        width: 65%;
    }
}

@media screen and (max-width:670px) {
    .lastest_creations{
        width: 100%;
    }
    .imagecontainer{
        width: 100%;
    }
    .video_container{
        width: 100%;
    }
}

/**MEDIA QUERIES cars*/
@media screen and (max-width:1500px){
    .cars_gallery {
        grid-auto-rows: 300px;
    }
}
@media screen and (max-width:1360px){
    .cars_gallery {
        grid-auto-rows: 250px;
    }
}
@media screen and (max-width:1200px){
    .paragraph.cars{
        margin: 40px 15%;
        text-align:center ;
    }
    .cars_gallery {
        grid-template-columns: auto auto;
        grid-auto-rows: 300px;
    }
    
}
@media screen and (max-width:1020px){
    .cars_gallery {
        grid-auto-rows: 250px;
        gap: 30px;
    }
}

@media screen and (max-width:876px){
    .cars_gallery {
        grid-template-columns: auto;
        grid-auto-rows: 400px;
        gap: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width:624px){
    .cars_gallery {
        grid-auto-rows: 300px;
        gap: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width:520px){
    .cars_gallery {
        grid-auto-rows: 250px;
        gap: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width:413px){
    .cars_gallery {
        grid-auto-rows: 200px;
        gap: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 330px){
    .cars_gallery {
        grid-auto-rows: 180px;
        gap: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/**MEDIA QUERIES about*/

@media screen and (max-width:1235px){
    .about_akira{
        height: max-content;
        grid-template-columns: auto;
        grid-template-rows: auto 400px;
    }
    .about_akira_text{
        grid-row: 1/1;
        
    } 
    .about_akira_img{
        grid-row: 2/2;
    }
}


@media screen and (max-width:1009px){
    .tunning_concept {
        height: max-content;
        grid-template-columns: auto;
        grid-template-rows: auto 400px;
    }
}

@media screen and (max-width:617px){
    .about_akira {
        width: 85%;
    }
    .phrase {
        width: 65%;
        overflow: hidden;
    }
    .tunning_concept {
        width: 85%;
    }
}

@media screen and (max-width:400px){
    .banner.about{
        background-position: 25%;
    }
    .about_akira_img{
        background-position: 25%;
    }
}